{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h1>Listing: {{ listing.listing_name }}</h1>
    
    {% if user.id != None and user.id != listing.creator.id %}
        {% if watchlist %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="watchlist_status" value="False">
                <input type="submit" class="btn btn-secondary" value="Remove From Watchlist">
            </form>
        {% else %}
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="watchlist_status" value="True">
                <input type="submit" class="btn btn-secondary" value="Watchlist">
            </form>
        {% endif %}
    {% endif %}

    <img width="80%" src="{{ listing.picture }}" alt="{{ listing.listing_name }}">  
    <p>{{ listing.definition }}</p>
    <h3>${{ listing.price }}</h3>
</div>

{% if user.id != None %}
<div class="container">
    {% if user.id != listing.creator.id %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ bidding_form.as_p }}
            <input type="submit" class="btn btn-primary" value="Submit Bidding">
        </form>

    {% else %}
    
        {% if listing.status == True %}
            <p>{{ message }}</p>
            <form method="POST">
                {% csrf_token %}
                <label for="close_auction">Close Auction</label>
                <input type="checkbox" id="close_auction" name="closed" value="True">
                <input type="Submit" class="btn btn-primary btn-sm" value="Submit"> 
            </form>       
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
        
    {% endif %}         
</div>
{% endif %}


<div class="container">
    <h5>Details</h5>
    <ul>
        <li>Listed by: {{ listing.creator }}</li>
        <li>Category: {{ listing.category }}</li>
    </ul>
</div>

{% endblock %}