{% extends "auctions/layout.html" %}


{% block body %}
    <h1>Watchlist</h1>
    {% if listings %}
        {% for listing in listings %}
        <div class="container" >
            <div class="row border-bottom">
                <div class="col-4">                    
                    <a class="image" href="{% url 'listing' listing.id user.id %}">
                        <img class="link" width="90%" src="{{ listing.picture }}" alt="{{ listing.listing_name }}">
                    </a>
                </div>
                <div class="col-8">
                    <h3>{{ listing.listing_name }}</h3>
                    <h5>Price: ${{ listing.price }} </h5>
                    <p>{{ listing.definition}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>No items on the watchlist!</p>
    {% endif %}


{% endblock %}